<%= form_for :project, @project, :url => { :action => "create"} do |f| %>
  <% if flash[:errors] %>
    <ul id="errors">
    <% flash[:errors].each do |error|%>
      <li><%= error.to_s.humanize %><br /></li>
    <% end %>
    </ul>
  <% end %>
  <%= f.text_field :name, :placeholder => "Project Name" %>
  <%= f.text_field :image_url, :placeholder => "Image URL (use imgur.com for a host)" %>
  <%= f.text_field :project_url, :placeholder => "Project URL (optional)" %>
  <%= f.text_area :description, :placeholder => "Description" %>
  <%= submit_tag "Save Project" %>
<% end %>
