<div id="title-header">
  <h2>Presenting <span class="accent"><%= @project.name %></span></h2>
</div>

<div id="content">
  <div id="card">
    <ul id="info">
      <li><span class="accent">Name:</span> <%= @project.name %></li>
      <span class="accent">Venue:</span> <%= @project.venue%>
      <li><%= link_to("Edit", edit_hacknight_path(@project.id)) %></li>
    </ul>
  </div>
</div>
<div id="title-header">
  <h2><span class="accent">Projects</span></h2>
  <div id="content">
    <% @project.hackers.each do |hacker| %>
        <img src="<%= hacker.image_url %>" />
    <% end %>
    <%= form_tag( add_hacker_path, :method => "post" ) do%>
      <%= collection_select(:hacker, :id, @hackers, :id, :name) %>
      <%= hidden_field(:project, :id) %>
      <%= submit_tag("Add Hacker", :id=>"button") %>
    <% end %>
  </div>
</div>
<div id="title-header">
  <h2><span class="accent">Sponsors</span> By</h2>
  <div id="content">
    <% @project.sponsors.each do |sponsor| %>
        <%= sponsor.name %>
    <% end %>
  </div>
</div>
