<div id="title-header">
  <h2>Presenting <span class="accent"><%= @project.name %></span></h2>
</div>

<div id="content">
  <div id="card">
    <ul id="info">
      <li><span class="accent">Name:</span> <%= @project.name %></li>
      <% if @project.project_url? %>
        <span class="accent">URL:</span> <%= @project.project_url %>
      <% end %>
      <li><span class="accent">Description: </span><%= @project.description %></li>
      <li><%= link_to("Edit", edit_project_path(@project.id)) %></li>
    </ul>
    <img src="<%= @project.image_url %>" />
  </div>
</div>
<div id="title-header">
  <h2>The <span class="accent">Hackers</span></h2>
  <div id="content">
    <%= collection_select(:hacker, :id, @hackers, :id, :name) %>
    <%= hidden_field(:project, :id) %>
    <a id="button" href="">Add Hacker</a>
  </div>
</div>
<div id="title-header">
  <h2><span class="accent">Achievements</span></h2>
</div>
<div id="title-header">
  <h2><span class="accent">Sponsored</span> By</h2>
</div>
