<div id="title-header">
  <h2>Presenting <span class="accent"><%= @hacknight.name %></span></h2>
</div>

<div id="content">
  <div id="card">
    <ul id="info">
      <li><span class="accent">Name:</span> <%= @hacknight.name %></li>
      <span class="accent">Venue:</span> <%= @hacknight.venue%>
      <li><%= link_to("Edit", edit_hacknight_path(@hacknight.id)) %></li>
    </ul>
  </div>
</div>
<div id="title-header">
  <h2><span class="accent">Projects</span></h2>
  <div id="content">
    <% @hacknight.projects.each do |project| %>
        <%= project.name %>
    <% end %>
  </div>
</div>
<div id="title-header">
  <h2><span class="accent">Sponsors</span> By</h2>
  <div id="content">
    <% @hacknight.sponsors.each do |sponsor| %>
        <%= sponsor.name %>
    <% end %>
  </div>
</div>
