<!DOCTYPE html>
<html>
<head>
  <title>HackNight</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min.js", "fb.js", "slides.min.jquery.js" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="wrapper2">
  <div id="left_bg"></div>
  <div id="right_bg"></div>
  <div id="wrapper">
    <div id="header">
        <div id="fb-root"></div>
        
        <div id ="fb-profile">
          <h2></h2>
          <img />
        </div>
        <fb:login-button style="display:none" id="fb-login" perms="email, user_events">Login with Facebook</fb:login-button>
      <div id="logo">
        <%= image_tag('hack.png') %>
        <div id="text">
          <%= link_to("Hack", index_path) %><span class="subtext">Night</span>
        </div>
      </div>
      <ul id="nav">
        <li><%= link_to("Hackers", hackers_path) %></li>
        <li><%= link_to("Projects", projects_path) %></li>
        <li><%= link_to("Sponsors", sponsors_path) %></li>
        <li><a href="/about"> About </a></li> 
      </ul>
    </div>
      <%= yield %>
    <div id="footer"></div>
  </div>
</div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
</body>
</html>
