<!DOCTYPE html>
<html>
<head>
  <title>HackNight</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min.js", "fb.js", "slides.min.jquery.js" %>
  <%= csrf_meta_tag %>

</head>
<body>

<div id="wrapper2">
  <div id="left_bg"></div>
  <div id="right_bg"></div>
  <div id="wrapper">
    <div id="header">
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <img id="fb-profile" style="display:none" />
        <fb:login-button style="display:none" id="fb-login">Login with Facebook</fb:login-button>
      <div id="logo">
        <img src="images/hack.png"/>
        <div id="text">
          <%= link_to("Hack", index_path) %><span class="subtext">Night</span>
        </div>
      </div>
      <ul id="nav">
        <li><%= link_to("Hackers", hackers_path) %></li>
        <li><%= link_to("Projects", projects_path) %></li>
        <li><%= link_to("Sponsors", sponsors_path) %></li>
        <li><a href="/about"> About </a></li> 
      </ul>
    </div>
    <div id="content">
      <%= yield %>

    </div>
    <div id="footer"></div>
  </div>
</div>
</body>
</html>
